.bg-fondo {
    background-image: url("./beautiful.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100%;
}

.bgMensaje {
    background: radial-gradient( rgb(252, 230, 140), rgb(253, 244, 201), transparent);
}

.grid {
    display: grid;
    grid-template-rows: 1fr 3fr 2fr;
}

.flex {
    display: flex;
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.align-content {
    align-content: flex-start;
}

.align-items {
    align-items: center;
}

.margin-topNo {
    margin-top: 0;
}

.margin-top {
    margin-top: 30px;
}

.margin-left {
    margin-left: 7%;
}

.margin-bottomNo {
    margin-bottom: 0;
}

.margin-bottom {
    margin-bottom: 10px;
}

.marginEntrar {
    margin-bottom: 30px;
}

.list-style {
    list-style: none;
}

.colorBlue {
    color: navy;
}

.bold {
    font-weight: bold; 
}

.em {
    font-size: 1em;
}

.heightTextarea {
    height: 7vh;
}

.widthTextarea {
    min-width: 20vw;
   
}

.fontTextarea {
    font-size: 1.3em;
}

.buttonEntrar {
    background-color: rgb(250, 211, 104);
}

/* background: radial-gradient( rgb(250, 218, 90), rgb(252, 230, 140), rgb(252, 230, 140), rgb(253, 244, 201));
    */
